@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif;
  --font-dynapuff: "DynaPuff", system-ui;
  --color-header: #1d3d9f;
  --color-subheader: #4e6eef;
  --text-size-header: 2rem;
  --text-size-subheader: 1.5rem;
}

body {
  @apply bg-gray-950  font-outfit text-white;
  position: relative;
}

div {
  background: lab(0% 0 0 / 0) 31e;
}

.movies::-webkit-scrollbar {
  display: none;
}

.loading {
  animation: loading 2s ease-in-out 0s infinite alternate;
}

@keyframes loading {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(90%);
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    transform: rotate(360deg) scale(110%);
  }
}

button{
  cursor: pointer;
}